@use 'colors' as *;

.bio-section {
  display: flex;
  flex-wrap: wrap;

  .left-section,
  .right-section {
    flex: 1 1 50%;
    padding: 60px 20px;

    .inner-wrapper {
      width: 100%;
    }

    // Max-width = metà dei container Bootstrap
    @media (min-width: 576px) {
      .inner-wrapper { max-width: 270px; }
    }
    @media (min-width: 768px) {
      .inner-wrapper { max-width: 360px; }
    }
    @media (min-width: 992px) {
      .inner-wrapper { max-width: 480px; }
    }
    @media (min-width: 1200px) {
      .inner-wrapper { max-width: 570px; }
    }
    @media (min-width: 1400px) {
      .inner-wrapper { max-width: 660px; }
    }
  }

.left-section {
  background-color: $color-light;
  border-bottom: 2px solid $color-dark;

  // Aggiungiamo il bordo sinistro solo su desktop
  @media (min-width: 768px) {
    border-left: 2px solid $color-dark;
  }

  .inner-wrapper {
    margin-left: auto;
    text-align: right;
  }
}

  .right-section {
    background-color: $color-primary;
        border-bottom: 2px solid $color-dark;

    .inner-wrapper {
      margin-right: auto; // spinge verso il centro
      text-align: left;
    }
  }

  @media (max-width: 767.98px) {
    flex-direction: column;

    .left-section,
    .right-section {
      flex: 1 1 100%;
      padding: 40px 20px;

      .inner-wrapper {
        max-width: none;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

// contenuto
.item {
  display: flex;
  align-items: center;
  gap: 40px;
}

.items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}