.bio {
  .container {
    display: flex;
    justify-content: center; // centra orizzontalmente

    .bio-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start; // o "center" se vuoi il testo centrato
      width: 50%; // 6 colonne su 12
      gap: 1rem;

      h3 {
        margin: 0;
      }

      p {
        margin: 0;
        line-height: 1.6;
      }
    }
  }
}

@media (max-width: 768px) {
  .bio .container .bio-content {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

