@use 'colors' as *;

.half-bg-section {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to right, $color-light 50%, $color-accent 50%);
}

@media (max-width: 767.98px) {
  .half-bg-section {
    background: linear-gradient(to bottom, $color-light 50%, $color-accent 50%);
  }
}