@use 'colors' as *;

.btn-primary {
  background-color: $color-secondary !important;
  color: #fff !important;
  border: 2px solid $color-dark !important;
  border-radius: 1rem !important; // o 0.125rem se vuoi un minimo
  box-shadow: none !important; // stato default SENZA shadow

  &:hover {
    box-shadow: 4px 4px 0 $color-dark !important; // SOLO on hover
  }
}

.btn-secondary {
  background-color: $color-accent !important;
  color: #fff !important;
  border: 2px solid $color-dark !important;
  border-radius: 1rem !important;
  box-shadow: none !important;

  &:hover {
    box-shadow: 4px 4px 0 $color-dark !important;
  }
}