$color-primary: #8a9b68;
$color-secondary: #dc0073;
$color-accent: #00a1e4;
$color-light: #f4f4f4;
$color-dark: #222222;
$text-color: #333;

body {
  background-color: $color-light;
  color: $text-color;
}