@use 'colors' as *;
@use 'typography' as *;

// OVERRIDE VARIABILI DI BOOTSTRAP PRIMA DELL'IMPORT
$input-border-width: 2px;
$input-border-radius: 0;
$input-border-color: $color-dark;
$input-focus-box-shadow: 0 0 0 2px $color-dark;
$input-focus-border-color: $color-dark;

// Eventuali stili extra
.form-custom input.form-control,
.form-custom textarea.form-control {
  box-shadow: none; // Per disattivare animazioni browser (opzionale)
}