body {
  background-image: url('../img/Griglia_sfondo_bianco.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; // forza altezza visibile
}