@use 'colors' as *;

.hero-section {
  background-color: $color-primary;
}

.hero-image-wrapper {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid black;
}