@use 'colors' as *;
@use 'typography' as *;

.custom-navbar {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: $color-primary !important;
  box-shadow: none !important; // elimina l'ombra di Bootstrap
  position: relative; // serve per ::after

  // trucco per forzare bordo
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: $color-dark;
    z-index: 1;
  }
}

nav.navbar .nav-link.nav-h5 {
  font-family: $font-heading !important;
  font-size: 1.25rem !important;
  font-weight: 400 !important;
  line-height: 1.1 !important;
  letter-spacing: 0.5px !important;
}