@use 'variables';

.custom-navbar {
  background-color: variables.$primary-color;

  .nav-link,
  .navbar-brand {
    color: variables.$text-color;

    &:hover {
      color: variables.$hover-color;
    }
  }
}