@use 'colors' as *;

// Sovrascrivi variabili di Bootstrap con i tuoi valori
$theme-colors: $theme-colors;

// Personalizzazione bottoni
$btn-border-radius: 2rem;
$btn-padding-y: 0.75rem;
$btn-padding-x: 1.5rem;
$btn-primary-color: #fff; // colore testo nei bottoni primary

.btn-primary {
  background-color: $color-secondary !important;
  color: #fff !important;
  border-color: transparent !important;
  border-radius: 0.5rem;
}

.custom-navbar {
  background-color: $color-primary !important; 
}