@use 'colors' as *;

// Sovrascrivi variabili Bootstrap PRIMA di importarlo
$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "accent": $color-accent,
  "dark": $color-dark,
  "light": #f8f9fa
);

// Personalizzazione bottoni (valori usati da Bootstrap)
$btn-border-radius: 2 rem;
$btn-padding-y: 0.75rem;
$btn-padding-x: 1.5rem;
$btn-primary-color: #fff;
