/* Error: Can't find stylesheet to import.
 *    ,
 * 6  | / @use 'bootstrap/scss/bootstrap' with (
 * 7  | |   $theme-colors: $theme-colors,
 * 8  | |   $btn-border-radius: $btn-border-radius,
 * 9  | |   $btn-padding-y: $btn-padding-y,
 * 10 | |   $btn-padding-x: $btn-padding-x,
 * 11 | |   $btn-primary-color: $btn-primary-color
 * 12 | | );
 *    | '-^
 *    '
 *   assets\scss\style.scss 6:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 6  \2502  \250c  @use 'bootstrap/scss/bootstrap' with (\a 7  \2502  \2502    $theme-colors: $theme-colors,\a 8  \2502  \2502    $btn-border-radius: $btn-border-radius,\a 9  \2502  \2502    $btn-padding-y: $btn-padding-y,\a 10 \2502  \2502    $btn-padding-x: $btn-padding-x,\a 11 \2502  \2502    $btn-primary-color: $btn-primary-color\a 12 \2502  \2502  );\a    \2502  \2514 \2500 ^\a    \2575 \a   assets\\scss\\style.scss 6:1  root stylesheet";
}
